# Diretórios de build
bin/
obj/
**/bin/
**/obj/

# Logs e arquivos temporários
*.log
logs/
temp/

# Arquivos gerados pelo Visual Studio
.vscode/
*.user
*.suo
*.ntvs*
*.njsproj
*.sln.cache
*.sln.ide
*.vs/
.DS_Store
Thumbs.db

# Pacotes do NuGet e dependências
packages/
.nuget/
project.lock.json
project.assets.json
*.nuget.props
*.nuget.targets

# Arquivos de Debug
*.pdb
*.ilk
*.map
*.exp
*.iobj
*.ipdb

# Arquivos do Entity Framework Migrations
Migrations/*.Designer.cs
Migrations/*.csproj
Migrations/*.json

# Arquivos do Serilog
*.sourcelink.json
*.seq
*.serilog

# Arquivos específicos do Docker
docker-compose.override.yml
docker-compose.debug.yml
.env

# Arquivos do Rider/JetBrains
.idea/
*.iml

# Chaves privadas e credenciais (se houver)
secrets.json

# =========================
#  ARQUIVOS DO ANGULAR 
# =========================

# Node.js
node_modules/
npm-debug.log*
yarn-error.log
yarn-debug.log
package-lock.json

# Angular CLI
.angular/
.angular/cache/

# Diretório de build
dist/
out-tsc/

# Configuração de ambiente
src/environments/*.ts

# Testes e relatórios
coverage/
karma.conf.js
test-results/

# Configuração do editor
.editorconfig
.eslintrc.json
.prettierrc*
*.prettierignore

# Arquivos gerados pelo Angular Language Service
**/*.ngsummary.json
**/*.ngfactory.ts
**/*.ngstyle.ts
**/*.ngsw*

# Arquivos de cache do Cypress (caso use)
cypress/screenshots/
cypress/videos/
cypress/results/

# =========================